<div class="row">
  <!-- Side nav left -->
  <aside class="aside-left col-2 pr-0 py-2">
    <!-- Logged user -->
    <div class="logged-user p-3">
      <div class="logged-user-details d-flex align-items-center mb-0">
        <%= image_tag 'avatar.jpg', class: 'avatar-big rounded' %>
        <h3 class="logged-user-name font-12 pl-2 text-uppercase">Cristian Ceamatu Viorel<%= link_to 'Sign out', sign_out_path, class: 'text-danger font-10 d-block' %></h3>
      </div>

      <div class="logged-user-social row text-center">
        <div class="col-6 py-4">
          <p class="logged-user-social-count mb-0 h5">184</p>
          <p class="logged-user-social-type font-12 mb-0">Following</p>
        </div>
        <div class="col-6 py-4">
          <p class="logged-user-social-count mb-0 h5">184</p>
          <p class="logged-user-social-type font-12 mb-0">Followers</p>
        </div>
      </div>
    </div>

    <nav class="nav-left pl-3">
      <ul class="nav-left-items list-unstyled mb-0">
        <li class="nav-left-item py-2">
          <%= link_to root_path do %>
            <%= fa_icon "home" %> HOME 
          <% end %>
        </li>
        <li class="nav-left-item py-2">
          <%= link_to root_path do %>
            <%= fa_icon "user" %> PROFILE 
          <% end %>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="col-10">
    <div class="row">
      <!-- Main content top navigation -->
      <nav class="top-nav col-12 d-flex align-items-center justify-content-between p-3">
        <ul class="nav-top-left list-unstyled mb-0">
          <li class="nav-top-left-item">
            <%= link_to root_path, class: 'text-white font-weight-bold' do %>
              <%= fa_icon "book" %> Bible Talks 
            <% end %>
          </li>
        </ul>

        <ul class="nav-top-right list-unstyled d-flex align-items-center mb-0">
          <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "pencil" %><% end %></li>
          <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "envelope" %><% end %></li>
          <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "search" %><% end %></li>
          <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "cog" %><% end %></li>
        </ul>
      </nav>
    </div>

    <!-- Main content section -->
    <div class="main-content-feed row">
      <section class="opinions col-9 px-0 border-right">
        <ul class="nav nav-tabs border-bottom text-uppercase font-weight-bold font-14">
          <li class="active p-4"><%= link_to 'Talks', root_path, class: 'pl-2 text-dark' %></li>
          <li class="p-4"><a href="#" class="text-muted">Photos</a></li>
          <li class="p-4"><a href="#" class="text-muted">Videos</a></li>
        </ul>

        <!-- New opinion form -->
        <div class="new-opinion-form px-4 py-4 border bg-white m-4 rounded shadow-sm">
          <%= simple_form_for(@opinion, class: 'd-flex') do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <h4 class="h4 text-muted">Share your Bible talk</h4>
            <div class="form-group">
              <%= f.input :text, label: false, input_html: { rows: 1 }, class: 'form-control' %>
            </div>

            <div class="text-right">
              <%= f.button :submit, class: 'btn btn-primary d-inline-block' %>
            </div>
          <% end %>
        </div>

        <!-- Opinions feed -->
        <div class="opinions-feed px-4 py-4 border bg-white m-4 rounded shadow-sm">
          <div class="opinions-feed-title text-primary text-uppercase font-weight-bold">
            <p class="pb-4 px-2 border-bottom">4 NEW BIBLE TALKS</p>
          </div>

          <div class="opinions-feed-container">
            <article class="opinions-feed-item d-flex align-items-center my-4">
              <%= image_tag 'avatar.jpg', class: 'avatar-big rounded' %>
              <div class="opinions-feed-item-details pl-2 w-100">
                <div class="opinions-feed-item-header d-flex align-items-center justify-content-between">
                  <h5 class="opinions-feed-item-author font-14 mb-0 text-dark text-uppercase font-weight-bold">Miley Ray Cyrus</h5>
                  <p class="opinions-feed-item-date text-gray font-12 mb-0">23 Jan</p>
                </div>
                <p class="opinions-feed-item-text mb-0 text-gray">Here’s a quick example to demonstrate Bootstrap’s form styles. Keep reading for documentation on required classes, form layout, and more.</p>
              </div>
            </article>
          </div>

          <p class="opinion-feed-view-more mt-5 p-2 text-center text-primary text-uppercase font-weight-bold"><%= link_to 'VIEW MORE', root_path %></p>
        </div>
      </section>

      <!-- Main aside right -->
      <aside class="main-content-aside col-3 pl-0">
        <!-- Whot to follow -->
        <div class="who-to-follow pl-3">
          <div class="who-to-follow-header d-flex align-items-center justify-content-between py-3 pr-3">
            <p class="mb-0 text-muted font-weight-bold">WHO TO FOLLOW</p>
            <%= link_to root_path, class: 'text-muted' do %>
              <%= fa_icon 'refresh' %>
            <% end %>
          </div>

          <div class="who-to-follow-container">
            <article class="opinions-feed-item d-flex align-items-center my-3">
              <%= image_tag 'avatar.jpg', class: 'avatar rounded-circle' %>
              <div class="who-to-follow-item-details pl-2">
                <h5 class="who-to-follow-item-author font-14 text-dark mb-0">Miley Ray Cyrus</h5>
                <p class="who-to-follow-connection font-12 text-gray mb-1">Followed by <%= link_to 'Cris Lore', root_path %></p>
              </div>
            </article>
            
            <article class="opinions-feed-item d-flex align-items-center my-3">
              <%= image_tag 'avatar.jpg', class: 'avatar rounded-circle' %>
              <div class="who-to-follow-item-details pl-2">
                <h5 class="who-to-follow-item-author font-14 text-dark mb-0">Miley Ray Cyrus</h5>
                <p class="who-to-follow-connection font-12 text-gray mb-1">No followers</p>
              </div>
            </article>
          </div>

          <ul class="who-to-follow-links list-unstyled font-14 d-flex">
            <li><%= link_to 'Popular account', root_path %></li>
            <li><%= link_to 'Find friends', root_path, class: 'ml-2' %></li>
          </ul>
        </div>

        <!-- Trending -->
        <div class="trending border-top pt-4">
          <div class="trending-header px-3 d-flex align-items-center justify-content-between mb-3">
            <p class="trending-title mb-0 text-muted font-weight-bold">TRENDING</p>
            <%= link_to root_path, class: 'text-muted' do %>
              <%= fa_icon 'cog' %>
            <% end %>
          </div>

          <ul class="trending-items border-top list-unstyled mx-3">
            <li class="my-3"><%= link_to '#bible', root_path %></li>
            <li class="my-3"><%= link_to '#verses', root_path %></li>
            <li class="my-3"><%= link_to '#praiseLord', root_path %></li>
            <li class="my-3"><%= link_to '#love', root_path %></li>
          </ul>
        </div>
      </aside>
    </div>
  </main>
</div>