<div class="row">
  <!-- Side nav left -->
  <aside class="aside-left border col-2 pr-0">
    <!-- Logged user -->
    <div class="logged-user p-2 border">
      <div class="logged-user-details d-flex align-items-center">
        <%= image_tag 'avatar.jpg', class: 'avatar-big rounded' %>
        <h3 class="logged-user-name">Cristian Ceamatu Viorel</h3>
      </div>

      <div class="logged-user-social row">
        <div class="col-6">
          <p class="logged-user-social-count">184</p>
          <p class="logged-user-social-type">Following</p>
        </div>
        <div class="col-6">
          <p class="logged-user-social-count">184</p>
          <p class="logged-user-social-type">Followers</p>
        </div>
      </div>
    </div>

    <nav class="nav-left">
      <ul class="nav-left-items">
        <li class="nav-left-item"><%= link_to 'HOME', root_path %></li>
        <li class="nav-left-item"><%= link_to 'PROFILE', root_path %></li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="border col-10">
    <div class="row">
      <!-- Main content top navigation -->
      <nav class="top-nav col-12">
        <ul class="nav-top-left">
          <li class="nav-top-left-item"><%= link_to 'TW', root_path %></li>
        </ul>

        <ul class="nav-top-right">
          <li class="nav-top-right-item"><%= link_to 'TW', root_path %></li>
          <li class="nav-top-right-item"><%= link_to 'TW', root_path %></li>
          <li class="nav-top-right-item"><%= link_to 'TW', root_path %></li>
          <li class="nav-top-right-item"><%= link_to 'TW', root_path %></li>
        </ul>
      </nav>
    </div>
    <!-- Main content section -->
    <div class="main-content-feed row">
      <section class="opinions col-9">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Tweets</a></li>
          <li><a href="#">Menu 1</a></li>
          <li><a href="#">Menu 2</a></li>
        </ul>

        <!-- New opinion form -->
        <%= simple_form_for(@opinion, class: 'd-flex') do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <h4>Share your Bible talk</h4>
          <div class="form-group">
            <%= f.input :text, label: false, class: 'form-control' %>
          </div>

          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>

        <!-- Opinions feed -->
        <div class="opinions-feed">
          <div class="opinions-feed-title">
            4 NEW BIBLE TALKS
          </div>

          <div class="opinions-feed-container">
            <article class="opinions-feed-item">
              <%= image_tag 'avatar.jpg' %>
              <div class="opinions-feed-item-details">
                <div class="opinions-feed-item-header">
                  <h5 class="opinions-feed-item-author">Miley Ray Cyrus</h5>
                  <p class="opinions-feed-item-date">23 Jan</p>
                </div>
                <p class="opinions-feed-item-text">Here’s a quick example to demonstrate Bootstrap’s form styles. Keep reading for documentation on required classes, form layout, and more.</p>
              </div>
            </article>
          </div>

          <p class="opinion-feed-view-more"><%= link_to 'VIEW MORE', root_path %></p>
        </div>
      </section>

      <!-- Main aside right -->
      <aside class="main-content-aside col-3">
        <!-- Whot to follow -->
        <div class="who-to-follow">
          <div class="who-to-follow-header">
            <p>WHO TO FOLLOW</p>
            <%= link_to root_path do %>
              O
            <% end %>
          </div>

          <div class="who-to-follow-container">
            <article class="opinions-feed-item">
              <%= image_tag 'avatar.jpg' %>
              <div class="who-to-follow-item-details">
                <h5 class="who-to-follow-item-author">Miley Ray Cyrus</h5>
                <p class="who-to-follow-connection">Followed by <%= link_to 'Cris Lore', root_path %></p>
              </div>
            </article>
            
            <article class="opinions-feed-item">
              <%= image_tag 'avatar.jpg' %>
              <div class="who-to-follow-item-details">
                <h5 class="who-to-follow-item-author">Miley Ray Cyrus</h5>
                <p class="who-to-follow-connection">Not followed by anybody</p>
              </div>
            </article>
          </div>

          <ul class="who-to-follow-links">
            <li><%= link_to 'Popular account', root_path %></li>
            <li><%= link_to 'Find friends', root_path %></li>
          </ul>
        </div>

        <!-- Trending -->
        <div class="trending">
          <div class="trending-header">
            <h3 class="trending-title">TRENDING</h3>
            <%= link_to root_path do %>
              O
            <% end %>
          </div>

          <ul class="trending-items">
            <li><%= link_to '#bible', root_path %></li>
            <li><%= link_to '#verses', root_path %></li>
            <li><%= link_to '#praiseLord', root_path %></li>
            <li><%= link_to '#love', root_path %></li>
          </ul>
        </div>
      </aside>
    </div>
  </main>
</div>