<div class="row mr-0">
  <aside class="aside-left col-3 col-lg-2 d-none d-md-block pr-0 py-2">
    <%= render 'users/side_nav' %>
  </aside>

  <main class="col-12 col-md-9 col-lg-10 pr-0">
    <div class="row mr-0">
      <%= render 'users/top_nav' %>
    </div>
    
    <div class="main-content-feed row mr-0">
        <section class="opinions col-12 col-sm-9 pl-3 pl-sm-0 pr-0 border-right">
          <ul class="nav nav-tabs border-bottom text-uppercase font-weight-bold font-14">
            <li class="active p-4"><%= link_to 'Talks', root_path, class: 'pl-2 text-dark' %></li>
            <li class="p-4"><a href="#" class="text-muted">Photos</a></li>
            <li class="p-4"><a href="#" class="text-muted">Videos</a></li>
          </ul>

          <div class="new-opinion-form px-3 py-3 border bg-white m-4 rounded shadow-sm">
            <%= render 'form' %>
          </div>

          <div class="opinions-feed px-4 py-4 border bg-white m-4 rounded shadow-sm">
            <%= render 'opinions', opinions: @opinions, title: "#{@opinions.length} NEW BIBLE TALKS" %>
          </div>
        </section>

        <aside class="main-content-aside col-sm-3 d-none d-sm-block px-0">
          <%= render 'main_aside', users: @users %>
        </aside>
      </div>
    </div>
  </main>
</div>

<%= render 'users/mobile/logged_user' %>

<%= mobile_right_button(@user, @users) %>