<!-- Main content top navigation -->
<nav class="top-nav col-12 d-flex align-items-center justify-content-between px-3 py-1">
  <ul class="nav-top-left list-unstyled mb-0">
    <li class="nav-top-left-item">
      <%= link_to root_path, class: 'text-white font-weight-bold' do %>
        <%= image_tag 'favicon.png', width: 40, height: 40 %> Bible Talks 
      <% end %>
    </li>
  </ul>

  <ul class="nav-top-right list-unstyled d-flex align-items-center mb-0">
    <li class="nav-top-right-item px-3"><%= link_to edit_user_path(current_user), class: 'text-white font-weight-bold' do %><%= fa_icon "pencil" %><% end %></li>
    <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "envelope" %><% end %></li>
    <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "search" %><% end %></li>
    <li class="nav-top-right-item px-3"><%= link_to root_path, class: 'text-white font-weight-bold' do %><%= fa_icon "cog" %><% end %></li>
  </ul>
</nav>
