<!-- Main aside right -->
<aside class="main-content-aside col-3">
  <!-- Aside user profile -->
  <div class="user-profile py-3">
    <ul class="user-profile-actions list-unstyled d-flex align-items-center justify-content-center">
      <li><%= render 'followings/follow_form', user: user %></li>
      <li><%= image_tag user_image(user), class: 'avatar-xl rounded-circle' %></li>
      <li><%= render 'followings/unfollow_form', user: user %></li>
    </ul>

    <div class="user-profile-header text-center mb-2">
      <h3 class="font-14 mb-0 text-dark text-uppercase font-weight-bold"><%= user.fullname %></h3>
      <p class="mb-0 text-gray">@<%= user.username %></p>
    </div>

    <div class="user-profile-social row text-center">
      <div class="col-4 py-4 border-bottom border-top">
        <p class="logged-user-social-count mb-0 h5"><%= user.opinions.count %></p>
        <p class="logged-user-social-type text-gray font-12 mb-0">Talks</p>
      </div>
      <div class="col-4 py-4 border">
        <p class="logged-user-social-count mb-0 h5"><%= user.followed_users.count %></p>
        <p class="logged-user-social-type text-gray font-12 mb-0">Following</p>
      </div>
      <div class="col-4 py-4 border-bottom border-top">
        <p class="logged-user-social-count mb-0 h5"> <%= user.followers.count %></p>
        <p class="logged-user-social-type text-gray font-12 mb-0">Followers</p>
      </div>
    </div>
  </div>

  <!-- Followed by -->
  <div class="followed-by px-1">
    <p class="followed-by-title mb-0 text-muted font-weight-bold py-3">FOLLOWED BY</p>

    <div class="followed-by-container">
      <% user.followers.each do |follower| %>
        <article class="followed-by d-flex align-items-center justify-content-between py-2">
          <div class="followed-by-item d-flex align-items-center justify-content-between">
            <%= image_tag user_image(follower), class: 'avatar rounded-circle' %>
            <div class="followed-by-details pl-2">
              <h5 class="followed-by-name font-14 text-dark mb-0"><%= link_to follower.fullname, user_path(follower) %></h5>
              <p class="followed-by-username font-12 text-gray mb-1">@<%= follower.username %></p>
            </div>
          </div>

          <%= render 'followings/follow_form', user: follower %>
        </article>
      <% end %>
    </div>
  </div>
</aside>