<div class="row mr-0">
  <%= render 'side_nav' %>

  <!-- Main content -->
  <main class="col-10">
    <div class="row">
      <%= render 'users/top_nav' %>
    </div>

    <!-- Main content section -->
    <div class="main-content-feed row">
      <section class="opinions col-9 px-0 border-right">
        <div class="showcase">
          <%= image_tag user_cover_image(@user), class: 'img-fluid user-cover-image' %>
        </div>

        <ul class="nav nav-tabs border-bottom text-uppercase font-weight-bold font-14">
          <li class="active p-4"><%= link_to 'Talks', root_path, class: 'pl-2 text-dark' %></li>
          <li class="p-4"><a href="#" class="text-muted">PHOTOS</a></li>
          <li class="p-4"><a href="#" class="text-muted">FOLLOWING</a></li>
          <li class="p-4"><a href="#" class="text-muted">FOLLOWERS</a></li>
          <li class="p-4"><a href="#" class="text-muted">FAVORITES</a></li>
          <li class="p-4"><a href="#" class="text-muted">LISTS</a></li>
        </ul>

        <%= render 'opinions/form' %>

        <%= render 'opinions/opinions', opinions: @user.opinions, title: "All talks by `#{@user.username}`" %>
      </section>

      <%= render 'user_show_aside', user: @user %>
    </div>
  </main>
</div>
