<div class="row mr-0">
  <!-- Side nav left -->
  <aside class="aside-left col-3 col-lg-2 d-none d-md-block pr-0 py-2">
    <%= render 'side_nav' %>
  </aside>
  
  <!-- Main content -->
  <main class="col-12 col-md-9 col-lg-10 pr-0">
    <div class="row mr-0">
      <%= render 'users/top_nav' %>
    </div>

    <!-- Main content section -->
    <div class="main-content-feed row mr-0 pl-3 pl-sm-0">
      <section class="opinions col-12 col-sm-8 col-lg-9 px-0 border-right">
        <div class="showcase">
          <%= image_tag user_cover_image(@user), class: 'img-fluid user-cover-image' %>
        </div>
        
        <%= render 'show_user_nav_tabs' %>
        
        <div class="new-opinion-form px-3 py-3 border bg-white m-4 rounded shadow-sm">
          <%= render 'opinions/form' %>
        </div>

        <div class="opinions-feed px-4 py-4 border bg-white m-4 rounded shadow-sm">
          <%= render 'opinions/opinions', opinions: @user.opinions, title: "All talks by `#{@user.username}`" %>
        </div>
      </section>

      <!-- Main aside right -->
      <aside class="main-content-aside col-4 col-lg-3 d-none d-sm-block">
        <%= render 'user_show_aside', user: @user %>
      </aside>
    </div>
  </main>
</div>


<!-- Mobile view positioned fixed -->
<%= render 'users/mobile/logged_user' %>

<% if @user.nil? %>
  <%= render 'users/mobile/who_to_follow', users: @users %>
  <% else %>
  <%= render 'users/mobile/show_user', user: @user %>
<% end %>
