<!DOCTYPE html>
<html>
  <head>
    <title>Bible talks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.jpg' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-info alert-dismissable text-center rounded-0 mb-0 pr-0") do %>
        <%= value %>
        <button type="button" class="close mr-4 text-danger" data-dismiss="alert" aria-hidden="true">&times;</button>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
